/* https://www.color-hex.com/color-palette/82341 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a:hover, a:active, a:focus, .btn:focus, button:focus, input:focus, textarea:focus {
    outline: none!important;
    box-shadow: none!important;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: var(--blue);
    background-color: var(--white);
    height: 100%;
}

.main-divs, .tab-content {
    height: inherit;
    overflow: hidden;
    position: relative;
}

#main {
    background-color: #c1e8ce;
    height: 100vh;
    padding: 0;
}

.nav-item {
    background-color: #ffffff;
    border-radius: 5px;
    margin: 0.4em 0.2rem;
}

.nav-link.active {
    color: #262e29;
}

.nav-link:hover {
    color: #607467;
}

.nav-link {
    color: 	#c1e8ce;
    text-transform: lowercase;
    font-weight: 600;
    letter-spacing: 2px;
}

/* ---------------------------------------------
        Square bubbles
--------------------------------------------- */
#anim0 {
    background-color: #f6bf9f;
}

#box-area li {
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    list-style-type: none;
    border-radius: 5%;
    animation-name: rotate-up;
    animation-duration: 6000ms;
    animation-timing-function: ease-in
}

@keyframes rotate-up {
    0%   {
        bottom:0;
    }
    100% {
        bottom: 130%;
        transform: rotate(-190deg);
    }
}

/* ---------------------------------------------
        Maniac
--------------------------------------------- */
#anim1 {
    background-color: #ffffff;
}

#anim1 .container{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #607467;
}